
@{
    ViewData["Title"] = "HttpNotFound";
}



<br />
<div style="position: fixed; z-index: 2;">
    <input type="number" id="NumeroPaginaAcesso" style="width:80%; margin-left: 60px;"
           placeholder="N° da pag. Ex: 2, 3, 4, 5, ..." value="@ViewBag.numeroErro" />
    <center>
        <a id="acessoPaginaComInput" href="/Pagina/" class="btn btn-primary glyphicon glyphicon-search loader">
            Acessar
        </a>
    </center>
</div>


<br />
<br />
<br />

<h1>Pagina não encontrada</h1>
<h3>Por favor digitar um numero menor</h3>

<div id="loading" style="display:none; z-index:50;"><img src="~/imagem/loader.gif" /></div>


@section scripts{

    <script src="~/js/loader.js"></script>
}

