@model MeuProjetoAgora.Models.business.Elemento.Imagem

<h4>Imagens</h4>
<hr />

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (Model == null)
{
    <div class="form-group">
        <select asp-for="PastaImagemId" class="form-control pastas" />
    </div>
}
else
{
    <div class="form-group">
        <input asp-for="PastaImagemId" type="hidden" />
    </div>

    <div class="form-group">
        <label asp-for="Width" class="control-label"></label>
        <input asp-for="Width" type="range" max="100" min="5" class="form-control" />
        <span asp-validation-for="Width" class="text-danger"></span>
    </div>

}

<div class="form-group">
    <input id="elemento" name="elemento" type="hidden" value="Imagem" />
</div>

<div class="form-group">
    <input asp-for="ArquivoImagem" type="hidden" />
</div>

@if (Model == null)
{
    <div class="buttons">
        <div class="upload-button">
            <input id="files" name="files" type="file" multiple onchange="uploadFilesImagem('files');" />
        </div>
    </div>
}


<img id="arquivoImagem" src="~/imagem/LoadingBasketContents.gif" style="display:none;" />

@if (Model != null)
{
    <div class="form-group">
        <input type="button" value="Copiar" onclick="ScriptElemento.Create()" class="btn btn-default" />
    </div>
}





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
