@model business.business.Pagina

@{
    Layout = "~/Views/Shared/_Render.cshtml";
}

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="~/js/jquery-ui.min.js"></script>

<style>
    .glyphicon {
        font-size: 22px;
    }

    #sites {
        margin-left: 50px;
    }

    #paginas {
        margin-left: 50px;
    }

    #acesso {
        margin-left: 50px;
    }
</style>

<br />  <br />    <br />

@if (Model == null)
{
    <label class="control-label" style="margin-left:50px;">Escolha um site:</label>
    @Html.DropDownList("sites", null, htmlAttributes: new { @class = "form-control site" })

    @Html.DropDownList("paginas", null, htmlAttributes: new { @class = "form-control pagina" })

    <a href="#" id="acesso" class="btn btn-primary">Acessar</a>
}
else
{

    ViewBag.Title = Model.Titulo + " - " + Model.Pedido.Nome;
    string valor = ViewBag.html;

    <style media="screen and (max-width: 450px)">
        .content {
            width: 100%;
        }
    </style>

    <link rel="stylesheet" href="~/css/RenderizarDinamico.css" />


    <div id="estrutura">

        <div class="row" id="LinhaImaginaria">



            <div id="Chat" class="col-md-4" style="background-color: white;">

                <partial name="BlocoFerramenta" /> 

            </div>

            <div class="content col-md-8" id="ConteudoPagina" data-id="">

                @Html.Raw(ViewBag.Html)


            </div>

            <script type="text/javascript">
                $('.linha').sortable({
                    connectWith: '.linha'
                });

                $('.ClassDiv').sortable();

                var axis = $('.linha').sortable('option', 'connectWith');
                let condicaoBloco = false;
                let condicaoElemento = false;

                // Setter
                $('.linha').sortable('option', 'connectWith', '.linha');

                $('.linha').sortable({
                    update: function (event, ui) {
                        condicaoBloco = true;
                    }
                });

                $('.ClassDiv').sortable({
                    update: function (event, ui) {
                        condicaoElemento = true;
                    }
                });
            </script>

        </div>

    </div>

    <div id="FormTexto" style="display:none;  margin-left:50px;">

    </div>

    <div id="Permissao" style="display:none;">

    </div>

    <div id="Galeria" style="display:none;">

    </div>

    <div id="GaleriaBlocos" style="display:none;">

    </div>

}



@section scripts{

    <script src="~/js/FullScreen.js"></script>
    <script src="~/lib/aspnet-signalr/signalr.min.js"></script>
    <script src="~/js/Chat.js"></script>

    <script>
        $(document).ready(function () {

            $(".site").click(function () {

                $(".pagina").empty();
                $(".pagina").append('<option value="0">[Selecione  uma pagina..]</option>');

                $.ajax({
                    type: 'POST',
                    url: '/AjaxGet/GetPaginas',
                    dataType: 'json',
                    data: { PedidoId: $(this).val() },
                    success: function (data) {
                        $.each(data, function (i, data) {
                            $(".pagina").append('<option value="'
                                + data.idPagina + '">'
                                + data.titulo + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Falha ao buscar paginas.' + ex);
                    }
                });
                return false;
            });
            $("#paginas").change(function () {
                document.getElementById("acesso").href = "/pagina/" + $(this).val();
            });

            $("#NumeroElementoEditar").focusout(function () {
                $("#conteudomodal").load("/Elemento/Edit/" + $(this).val()); 
            });

        });
    </script>

    <script type="text/javascript" src="~/js/Variaveis.js"></script>

    <script src="~/js/AlterarPosicaoBloco.js"></script>

    <script type="text/javascript" src="~/js/funcaoClickRenderizarDinamico.js"></script>

    <script type="text/javascript" src="~/js/ContentUmDoisClick.js"></script>
}


