
@{
    ViewData["Title"] = "Contatos";
}

<h2>Contatos</h2>

<address>
    Brasil <br />
    Cataguases - MG<br />
    Bairro Vila Domingos Lopes<br />
    Rua Joaquim Augusto de Almeida nº 117, cep: 36774-016<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:leandroleanleo@gmail.com">leandroleanleo@gmail.com</a><br />
    <strong>Whatsapp:</strong>  <b><abbr title="Whatsapp">(32)99989-6841</abbr></b>   <br />
    <strong>celular:</strong>  <b><abbr title="celular">(32)99989-6841</abbr></b>
</address>

<a href="https://www.facebook.com/Meu-Projeto-Agora-103512601141746/"><img src="/imagem/facebook.png" height="25" width="25" /></a>
<a href="https://www.instagram.com/leandroluisdas/?hl=pt-br"><img src="/imagem/instagram.png" height="25" width="25" /></a>
<a href="https://api.whatsapp.com/send?phone=5532991055774"><img src="/imagem/whatsapp.png" height="25" width="25" /></a>

